**Python Data Structure Questions**

1.What are data structures, and why are they important?

- Data structure is a way of organizing and storing data so that it can be easily accessed and manipulated.There several data structures like:- string,list,tuples,dictionary and set.Data structure is important because they  organize data efficiently so that the data can be access, process and store leading to faster and optimize codes.They are key to solving problems effectvily in programme.

2. Explain the difference between mutable and immutable data types with examples?

-  First of all the mutable data types can be modified after creation but immutable data can not be modified after creation and any change creates a new object in memory. The mutable data types are:-
list,set and dictionary and the immutable data types are string,tuple,int.

Example of mutable:-
list_var = [1,2,3,4]
list_var[1] = 90
print(list_var) :- it will give the result [1,90,3,4]

Example of immutable:-
tuple_var = (1,2,3)
tuple_var[0] = 34 :- it will give error of 'tuple' object does not support item assignment.

3.What are the main differences between lists and tuples in Python?

- The main diffrence between list and tuples are list is mutable and tuples are immutable.And tuples are faster than list because of its immuatable nature.Tuples are ideal for fixed data or read only data but list are ideal for dynamic collection.List use square brackets and tuples use parentheses.

4.Describe how dictionaries store data.

- Dictionaries  use a hash table to map each key to a specific memory location enabling very fast lookups,insertion and deletion.

Example: {"name": "anand", "age": 30}

5.Why might you use a set instead of a list in Python?

- We might use set instead of list because of uniqueness of set in set it is automatically remove the duplicate value.And it is also faster than list to check an item is exist or not.It is also perfect for comparing a group of data and also it is memory efficiency.

6.What is a string in Python, and how is it different from a list?

- A string is a text or set of character which can not be changed but list is a flexible, editable sequnce which can hold anything.

7.How do tuples ensure data integrity in Python?

- Tuples, once created, cannot be modified or have elements removed. Their immutable nature ensures that data stays unchanged, which helps protect it from accidental alteration. This makes tuples a reliable choice when you want to store fixed, secure, or constant data.

8.What is a hash table, and how does it relate to dictionaries in Python?

- Hash table uses a hash function to store data  efficiently  by mapping  keys to values.Python dictionaries are hash tables that allow fast access to values using keys, and they handle dynamic resizing and key collisions automatically.

9.Can lists contain different data types in Python?

- Yes, lists in Python can contain different data types. In Python, lists are heterogeneous, meaning they can store elements of any type — including integers, strings, floats, booleans, and even other lists or dictionaries.

10.Explain why strings are immutable in Python.

- Strings in python are immutable to optimize memory usage and enable features like hasing and safe usage as dictionary keys.This immuatability nature ensure that the string data can not be altered by any mistake for which it helps to run the programme smoothly.

11.What advantages do dictionaries offer over lists for certain tasks?

- Dictionary give the advantage when we need the keys associated with values it helps quickly to look into the value by using key.It don't need any indexing.By the quick look feature we can easily remove or update the value.It more likely fatser than the list in certain tasks.

12.Describe a scenario where using a tuple would be preferable over a list.

- Imagine we're building a system that logs timestamped events, where we need to store the date and time as a pair.Tuple would be greate for saving date and time details of the user. Beacuse of its immutable nature it can not be changed once created.
For Example:- Storing a timestamp as a tuple (year, month, day, hour, minute)

13.How do sets handle duplicate values in Python?

- In Python, sets automatically handle duplicate values by removing them. A set is a collection of unique elements, which means it will only store one instance of any value, and any duplicates are ignored.

Example :-
my_set = {1, 2, 3, 3, 4, 5, 1}
print(my_set)
Output: {1, 2, 3, 4, 5}

14.How does the “in” keyword work differently for lists and dictionaries?

- We use the "in" keyword to search for element we are looking for but in list and dictionaries it work differently.
In list when we use "in" keyword it check for the value in the list exists or not.
In  dictionaries when we use "in" keyword it check for the keys instead of value.It check of the key is existed or not in dictionary.

Example:-
LIST :-
my_list = [1,2,3,4]
print(1 in my_list) # output : True

Dictionary:-
my_dict = {"name":"anand","age":30}
print("name" in my_dict) #Output: True (checks if the key 'name' is in the dictionary)


15.Can you modify the elements of a tuple? Explain why or why not.

- No we cannot modify the elements of a tuple once created.Why we can not modify the element of tuples once created because tuples are immutable in nature this means once it created its elements cannot be changed, added, or removed.

16.P What is a nested dictionary, and give an example of its use case?

- A nested dictionary in Python means that the values of the dictionary are themselves dictionaries — it is a dictionary within a dictionary.
Nested dictionaries are useful when you need to store structured, hierarchical data.
Use Case:-
Imagine we are making a school management system.
students = {
    "S001": {"name": "Anand","age": 20,"grades": {"math": 85, "science": 92}
    },
    "S002": {"name": "Ajay","age": 22,"grades": {"math": 78, "science": 88}
    }
}


17. Describe the time complexity of accessing elements in a dictionary.

- The time complexity of accessing elements in a dictionary is O(1) on average. This is because Python dictionaries use a hash table internally, which allows for constant-time access to values using keys. In rare cases with many hash collisions, the time complexity can become O(n), but this is uncommon due to Python's efficient handling of collisions.

18.In what situations are lists preferred over dictionaries?

- Lists are preferred when data is ordered, index-based, allows duplicates, and does not require key-value pairs.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries are considered unordered because they store key-value pairs in an arbitrary order. This means that the order in which items are added to the dictionary does not necessarily reflect the order in which they are retrieved. However, this does not affect data retrieval, as dictionaries allow constant-time (O(1)) access to values using keys, regardless of the order of the elements.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

- In a list, data is retrieved by its index (position in the sequence). The time complexity for accessing an element by index is O(1), but the order of elements matters.
In a dictionary, data is retrieved by its key. The time complexity for accessing a value using a key is also O(1) on average. Dictionaries are unordered collections, so the order of elements does not matter when retrieving data.

**Practical Questions**

In [1]:
#1.Write a code to create a string with your name and print it.
myname = "anand"
print(myname)

anand

In [2]:
#2.Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming.
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [6]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace('apple','orange'))

I like orange

In [7]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
my_list = list(range(1,6))
print(my_list)

[1, 2, 3, 4, 5]

In [8]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [10]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_ele = ['a', 'b', 'c', 'd']
print(my_ele[1])

b

In [15]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10,20,30,40,50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

In [16]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [17]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [18]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [20]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple','orange','kiwi')
if "kiwi" in my_tuple:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

In [28]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a','b','c'}
print(my_set)

{'c', 'b', 'a'}

In [29]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [30]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [33]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [34]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

In [35]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Anand", "age": 30, "city": "Mumbai"}
print(my_dict)

{'name': 'Anand', 'age': 30, 'city': 'Mumbai'}

In [36]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

In [38]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [39]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists.")
else:
    print("The key 'city' does not exist.")

The key 'city' exists.

In [40]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dict = {"name":"anand","age":30}

print("my list:",my_list)
print("my tuple:",my_tuple)
print("my dictionary:",my_dict)

my list: [1, 2, 3, 4]
my tuple: (1, 2, 3, 4)
my dictionary: {'name': 'anand', 'age': 30}

In [42]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
my_list = [12,90,45,67,33]
my_list.sort()
print(my_list)

[12, 33, 45, 67, 90]

In [43]:
#28.Write a code to create a list with strings and print the element at the third index.
my_list = ["apple","banana","orange","kiwi","mango"]
print(my_list[3])

kiwi

In [44]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {"name":"anand","age":30}
dict2 = {"city":"mumbai","country":"india"}
dict1.update(dict2)
print(dict1)

{'name': 'anand', 'age': 30, 'city': 'mumbai', 'country': 'india'}

In [45]:
#30.Write a code to convert a list of strings into a set.
my_list = ["orange","apple","banana","kiwi","mango"]
my_set = set(my_list)
print(my_set)

{'mango', 'banana', 'apple', 'kiwi', 'orange'}